<div class="story-wrapper">
  <div class="content">
    <p>this is paragraph</p>
  </div>
  <div class="interactions-panel">
    <div class="flex-spacer"></div>
    <div class="interactions-buttons">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>comment</mat-icon>
      </button>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>favorite</mat-icon> -->
        <mat-icon>share</mat-icon>
      </button>
    </div>

  </div>
</div>

<mat-divider></mat-divider>

<div class="story-wrapper">
  <div class="content">
    <p>this is paragraph</p>
  </div>
  <div class="interactions-panel">
    <div class="flex-spacer"></div>
    <div class="interactions-buttons">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>comment</mat-icon>
      </button>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>favorite</mat-icon> -->
        <mat-icon>share</mat-icon>
      </button>
    </div>

  </div>
</div>

<mat-divider></mat-divider>

<div class="story-wrapper">
  <div class="content">
    <p>this is paragraph</p>
  </div>
  <div class="interactions-panel">
    <div class="flex-spacer"></div>
    <div class="interactions-buttons">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>comment</mat-icon>
      </button>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>favorite</mat-icon> -->
        <mat-icon>share</mat-icon>
      </button>
    </div>

  </div>
</div>

<mat-divider></mat-divider>
